html {
  scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    min-width: 700px;
  }
.character-selection {
    padding: 20px;
    text-align: center;
}

.character-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.char-icon {
    flex: 0 0 calc(16.66% - 15px);
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 5px;
}


.char-icon img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.char-icon.selected {
    border-color: #af99be;
    transform: scale(0.9);
}

.comparison-table {
    padding: 20px;
    margin: 0 auto 50px auto;
}

.comparison-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}

.comparison-table th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.comparison-table th {
    background-color: rgb(85, 72, 102);
    color: rgb(166, 187, 206);
}
.menu{
  color: aliceblue;
  font-size: 170%;
  text-align: center;
  
  }

  .sidenav {
    z-index: 5;
  height: 250vh;
  width: 0; 
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px; 
    cursor: pointer;    
    color: white;
    z-index: 0;
}
.headDiv{
    z-index: 0;
    opacity: 0.93;
    position: relative;
    padding-top: 3px;
    height: auto;
    width: auto;
    background-color: rgb(32, 32, 56);
    color: rgb(166, 187, 206);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 2em;
  }
  .headDiv h4{
    padding-top: 4%;
    border-top: 4px solid rgb(85, 72, 102);
    padding-bottom: 3%;
  }
  .bodyDiv{
    opacity: 0.93;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto;
    width: auto;
    background-color: rgb(32, 32, 56);
    color: rgb(166, 187, 206);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: medium;
  }
  .compDiv{
    opacity: 0.93;
    padding-top: 3px;
    background-color: rgb(32, 32, 56);
    color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 2em;
  }
  .compDiv h2{
    text-align: center;
    padding-top: 4%;
    border-bottom: 4px solid rgb(85, 72, 102);
    color: rgb(198, 211, 230);
    padding-bottom: 3%;
  }
  .comparison-comments{
        opacity: 0.93;
    padding-top: 3px;
    background-color: rgb(32, 32, 56);
    color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 2em;
    color: rgb(198, 211, 230);
  }
  .comparison-comments h2{
    text-align: center;
    padding-top: 4%;
    border-bottom: 4px solid rgb(85, 72, 102);
    padding-bottom: 3%;
  }
  .comparison-comments ul{
    padding: 3%;
  }
  .footerDiv{
  opacity: 0.93;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto;
    width: auto;
    background-color: rgb(32, 32, 56);
    color: rgb(166, 187, 206);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 2em;
}